In [3]:
import json
import pandas as pd
import numpy as np

In [9]:
base = pd.read_csv("unclean_data1.csv")
base = pd.read_csv("unclean_data1.csv",encoding='utf8')

In [10]:
base.head()

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN

In [11]:
base.shape

(14, 16)

In [20]:
base=base.rename(columns = {'movie_title':'titulo'})
base=base.rename(columns = {'num_critic_for_reviews':'num_criticas'})
base=base.rename(columns = {'duration':'duracion'})
base=base.rename(columns = {'DIRECTOR_facebook_likes':'num_likes_dir'})
base=base.rename(columns = {'ACTOR_1_facebook_likes':'num_likes_a1'})
base=base.rename(columns = {'actor_3_facebook_likes':'num_likes_a3'})
base=base.rename(columns = {'Cast_Total_facebook_likes':'tot_likes'})
base=base.rename(columns = {'facenumber_in_poster':'fn_poster'})
base=base.rename(columns = {'num_user_for_reviews':'num_rev'})
base=base.rename(columns = {'ACTOR_2_facebook_likes':'num_likes_a2'})
base

,titulo,num_criticas,duracion,num_likes_dir,num_likes_a3,num_likes_a1,gross,num_voted_users,tot_likes,fn_poster,num_rev,budget,title_year,num_likes_a2,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,NaN,15,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [23]:
clase_duracion = base[base['duracion']>=150.0]
clase_duracion.to_csv('Agrupacion_duracion.csv',index=False)

In [24]:
base.duracion.unique()

array([178.,  nan, 148., 132., 156., 141., 153., 183., 169., 106., 151.])

## Preguntas de Interes

1.-¿Para que me puede servir estas agrupaciones para la práctica siguiente?

Elimina datos repetidos y facil manejo de informacion

2.-Importancia del analisis previo de los datos antes de iniciar las modificaciones.
Mejor procesamientos de los datos